.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrap {
    width: 330px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    background: lightgray;
    border-radius: 20px;
    position: relative;
}

.close {
    display: flex;
    justify-content: space-evenly;
}

.close div  {
    width: 50%;
    text-align: center;
    border-bottom: 1px solid lightgray;
    padding-top: 8px;
}

.close div:hover  {
    border-bottom: 1px solid darkgrey;
    cursor: pointer;
    font-weight: bolder;
}


.results, .verb, .translate {
    padding: 20px;
}

.verb {
    padding-left: 50px;
    font-size: 30px;
    padding-top: 50px;
}

.btn {
    position: absolute;
    top: 150px;
    right: 40px;
}

button {
    padding: 20px;
    font-size: 18px;
}

input {
    width: 80px;
    background: lightgray;
    outline: none;
    border: none;
    border-bottom: 1px solid darkgrey;
    margin-left: 10px;
    font-size: 30px;
    color: blue;
    text-align: center;
}

.translate {
    margin-top: 60px;
}

.translate>p {
    font-weight: bolder;
}
